In [ ]:
df_baking["country"].describe(include="all")
df_baking.describe(include="category").T
df_baking[df_baking["bathrooms"]>10]
df_baking[df_baking["price"]<10]
df_baking["price"].mean()
df_baking[df_baking["price"] != 0]["price"].median()
df_baking[(df_baking["price"] != 0)&(df_baking["price"]< 282048)]["price"].mean()
my_list = [3,4,7,8,8]
my_list[-2]
my_list[0] = 5
my_list
my_tuple = (5.5,3.14)#inmutable
my_tuple[0] 
my_dict = {
    "age": 10,
    "name": "joe",
    "list":[1,2,3]
}
my_dict['name']
my_df = pd.DataFrame({
    "name":["joe","jack","jane"],
    "age": [21,22,23]
})
my_df
df_baking[["rooms","bathrooms"]]
display(df_baking["rooms"].describe())
display(df_baking["rooms"].isna().sum())
df_baking["rooms"].isna().sum()/ df_baking.sha pe[0]
df_baking[["rooms","bathrooms"]].max()
df_baking.describe(include="category")
df_baking[df_baking["realestate_name"]=="engel volkers madrid"]

In [1]:
import pandas as pd
my_df = pd.DataFrame({"Country":["Spain","Spain","Spain","Spain","Spain"], "City":["Madrid","Madrid","Madrid","Galicia", "Galicia"], "Numbers":[3,4,5,7,9]})
my_df

  Country     City  Numbers
0   Spain   Madrid        3
1   Spain   Madrid        4
2   Spain   Madrid        5
3   Spain  Galicia        7
4   Spain  Galicia        9

In [4]:
my_df.groupby(by="City")["Numbers"].mean()

City
Galicia    8.0
Madrid     4.0
Name: Numbers, dtype: float64

In [6]:
my_df.groupby(by="City")["Numbers"].min()

City
Galicia    7
Madrid     3
Name: Numbers, dtype: int64